<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../static/css/hxy_task.css" />
	</head>
	<body>
		<!--顶部-->
		<header>
			<!--顶部第一行-->
			<div id="head_firstline" class="d-flex justify-content-start">
				<span id="logo" class="p1">
					<div id="logo_a">
						<a href="https://www.amazon.cn/gp/prime/ref=nav_logo_prime_join" id="logo_one">
							<b>免费试享Prime</b>
						</a>
					</div>
				</span>
				<span id="Classify">					
					<a href="#" id="Classify_a">
						<b>全部商品分类</b>						
					</a>														
				</span>
				<span id="User_one" class="Users">
					<a class="Users_a" href="#">
						我的亚马逊
					</a>
				</span>
				<span id="User_two" class="Users">
					<a class="Users_a" href="#">
						z秒杀
					</a>
				</span>
				<span id="User_three" class="Users">
					<a class="Users_a" href="#">
						礼品卡
					</a>
				</span>
				<span id="User_four" class="Users">
					<a class="Users_a" href="#">
						我要开店
					</a>
				</span>
				<span id="User_five" class="Users">
					<a class="Users_a" href="#">
						海外购
					</a>
				</span>
				<span id="User_six">
					<a class="Users_a" href="#">
						帮助
					</a>
				</span>
				<span id="User_seven" class="Users">
					<a class="Users_a" href="#">
						In English
					</a>
				</span>	
				<a href="#" class="Servers_a">
					<span class="Servers word_three">
						<b>心愿单</b>						
					</span>
				</a>				
				<a href="#" class="Servers_a">
					<span class="Servers word_three">
						<b>购物车</b>					
					</span>
				</a>
				<a href="#" class="Servers_a">
					<span class="Servers">
						<p class="word_one">免费试享</p>
						<p class="word_two">
							<b>Prime</b>							
						</p>
					</span>	
				</a>	
				<a href="#" class="Servers_a">
					<span class="Servers">
						<p class="word_one">您好，登录</p>
						<p class="word_two">
							<b>我的账户</b>
						</p>
					</span>	
				</a>	
			</div>
			<hr />
			<!--第二行导航栏-->
			<div id="head_secondline">
				<ul>
					<li>
						<a href="#" class="Wacths">
							<b>钟表</b>
						</a>
					</li>
					<li>
						<a href="#" class="Wacths">新品</a>
					</li>
					<li>
						<a href="#" class="Wacths">女表</a>
					</li>
					<li>
						<a href="#" class="Wacths">男表</a>
					</li>
					<li>
						<a href="#" class="Wacths">机械表</a>
					</li>
					<li>
						<a href="#" class="Wacths">石英表</a>
					</li>
					<li>
						<a href="#" class="Wacths">卡西欧</a>
					</li>
					<li>
						<a href="#" class="Wacths">浪琴</a>
					</li>
					<li>
						<a href="#" class="Wacths">天梭</a>
					</li>
					<li>
						<a href="#" class="Wacths">美度</a>
					</li>
					<li>
						<a href="#" class="Wacths">汉密尔顿</a>
					</li>
					<li>
						<a href="#" class="Wacths">斯沃琪</a>
					</li>
					<li>
						<a href="#" class="Wacths">颂拓</a>
					</li>
					<li>
						<a href="#" class="Wacths">朗坤</a>
					</li>
					<li>
						<a href="#" class="Wacths">精工</a>
					</li>
					<li>
						<a href="#" class="Wacths">天王</a>
					</li>
					<li>
						<a href="#" class="Wacths">飞亚达</a>
					</li>
					<li>
						<a href="#" class="Wacths">清仓区</a>
					</li>
					<li>
						<a href="#" class="Wacths">购前须知</a>
					</li>
					<li>
						<a href="#" class="Wacths">珠宝首饰</a>
					</li>
				</ul>
			</div>
			<hr />
		</header>
		<!--主体-->
		<div id="main">
			<!--限定条件部分-->
			<span id="Limited">				
				<div id="Search_Result">
					<p id="Search_Result_one">显示搜索结果：</p>
					<p id="Search_Result_two">
						<b>钟表</b>
					</p>					
					<ul>
						<li>
							<a href="#">男士钟表</a>
						</li>
						<li>
							<a href="#">女士钟表</a>
						</li>
						<li>
							<a href="#">男童钟表</a>
						</li>
						<li>
							<a href="#">女童钟表</a>
						</li>
						<li>
							<a href="#">新奇钟表</a>
						</li>
						<li>
							<a href="#">钟</a>
						</li>
						<li>
							<a href="#">钟表配件</a>
						</li>
					</ul>
				</div>
				<div id="Select">
					<p>筛选:</p>
				</div>
			</span>

			<!--商品展示部分-->
			<span id="IsueeShow">
				<!--品牌选择导航栏-->
				<div id="IsueeShow_nav">					
					<ul>
						<li>
							<p>品牌:</p>
						</li>
						<li>
							<p>
								<a href="#">Longines浪琴</a>|
							</p>
						</li>
						<li>
							<p>
								<a href="#">Skmei时刻美</a>|
							</p>
						</li>
						<li>
							<p>
								<a href="#">CITIZEN西铁城</a>|
							</p>
						</li>
						<li>
							<p>
								<a href="#">Seiko精工</a>|
							</p>
						</li>
						<li>
							<p>
								<a href="#">iStrap</a>|
							</p>
						</li>
						<li>
							<p>
								<a href="#">查看更多选择</a>
							</p>
						</li>
					</ul>
				</div>
				<hr class="blank_line"/>
				<hr class="blank_line"/>
				<!--具体商品列表-->
				<div id="IsueePicture">
					<ul>
						{%for id,wacth in wacth_data_html.items():%}
						<li id="IsueePicture_Firstli">						
							<a href="/wacth/{{id}}">
								<img src="{{wacth[0]}}" />
								<div class="IsueePicture_BoxOne">
									<p class="IsueePicture_WordOne">
										{{wacth[1][0:60]}}
									</p>
									<p class="IsueePicture_WordTwo">{{wacth[2]}}</p>
								</div>
							</a>	
							<!--<div class="IsueePicture_BoxTwo">-->
								<!--<p class="IsueePicture_WordThree">海外购满200元免运费</p>-->
							<!--</div>																						-->
						</li>
						{% endfor %}
					</ul>
				</div>
				<!--页数选择-->
				<div id="PagesChoose">
					
				</div>
			</span>
			<!--商品推荐-->
			<div id="recomen">
				<p id="recomen_first">您最近查看的商品和相关推荐</p>
				<p class="recomen_word">
					猜您喜欢
					<br />
					<br />
				</p>
				<div id="font_issue">
					<ul>
                        {% for index, wacthes in gest_like_html.items() %}
						<li>
							<a href="/wacth/{{index}}">
								<img src="{{wacthes[0]}}" />
								<div class="IsueePicture_BoxOne">
									<p class="IsueePicture_WordOne">
										{{wacthes[1][0:50]}}
									</p>
									<p class="IsueePicture_WordTwo">{{wacthes[2]}}</p>
								</div>
							</a>
						</li>
                        {% endfor %}

					</ul>
				</div>
				<p class="recomen_word">
					相似商品：
					<br />
					<br />
					<br />
					<br />
				</p>
				<div id="similar_goods">
					<ul>
                        {% for index, wacthes in similar_wacthes.items() %}
						<li>
							<a href="/wacth/{{index}}">
								<img src="{{wacthes[0]}}" />
								<div class="IsueePicture_BoxOne">
									<p class="IsueePicture_WordOne">
										{{wacthes[1][0:50]}}
									</p>
									<p class="IsueePicture_WordTwo">{{wacthes[2]}}</p>
								</div>
							</a>
						</li>
                        {% endfor %}

					</ul>
				</div>
			</div>
		</div>
		<!--页脚-->
		<footer></footer>
	</body>
</html>
