
/*顶部*/
/*顶部第一行*/
#head_firstline {
	width: 100%;
	height: 120px;
}

#logo {
	display: block;
	width: 10%;
	height: 120px;
	background-image: url(../img/th.jpg);
	background-size: 100% 100%;
	/*position: absolute;*/
	/*background-color: red;*/
	float: left;
}

#logo_a {
	width: 100%;
	height: 20px;
	/*position: absolute;
	right: 0px;
	bottom: 0px;*/
	text-align: right;
	margin-top: 90px;
}

#logo_one {
	color: #58ABCB;
	
}

#logo_one:hover {
	color: #E9913C;
}

#Classify {
	display: block;
	height: 120px;
	width: 12%;
	text-align: right;
	float: left;
	line-height: 200px;
	/*clear: left;*/
	margin-right: 2%;
	margin-left: 2%;
}

#Classify_a {
	color: black;
	font-size: 25px;
	text-decoration: none;
}

#Classify_a:hover {
	color: darkgrey;
}

.Users {
	width: 6%;
	height: 120px;
	display: block;
	float: left;
}

.Users_a {
	text-decoration: none;
	color: #4682BE;
	line-height: 200px;
}

.Users_a:hover {
	text-decoration: underline;
	color: #FDAF47;
}

.Servers {
	display: block;
	float: right;
	height: 90px;
	width: 6%;
	border: 2px solid white;
	line-height: 10px;
	text-align: center;
	margin-top: 30px;
}

.Servers:hover {
	border-color: gainsboro;
}

.Servers_a {
	color: black;
}
.word_two {
	font-size: 20px;
}

.word_three {
	font-size: 20px;
	line-height: 90px;
}

/*第二行导航栏*/

#head_secondline ul {
	list-style: none;
}

#head_secondline li {
	float: left;
	width: 5%;
}

.Wacths:link {
	font-size: 13px;
	color: black;
	text-decoration: none;
	text-align: center;
}

.Wacths:visited {
	
}

.Wacths:hover {
	color: #FDAF47;
	text-decoration: underline;
}

/*主体*/
/*限定条件部分*/

#Limited {
	display: block;
	float: left;
	width: 12%;
	border-right: 1px solid #76768C;
}

#Search_Result {
	width: 90%;
	border-bottom: 1px solid #76768C;
}

#Search_Result_one {
	color: #76768C;
}

#Search_Result_two {
	font-size: 13px;
}

#Search_Result ul {
	list-style: none;
	font-size: 13px;
}

#Search_Result a:link {
	color: black;
	text-decoration: none;
}

#Search_Result a:hover {
	color: #C45500;
}

#Select p {
	color: #76768C;	
}


/*商品展示部分*/

#IsueeShow {
	display: block;
	float: right;
	width: 87%;
}

/*品牌选择导航栏*/

#IsueeShow_nav ul {
	list-style: none;
	font-size: 13px;
	position: relative;
	top: -10px;
	left: -2.5%;
}

#IsueeShow_nav li {
	float: left;
	line-height: 0px;
}

#IsueeShow_nav a {
	text-decoration: none;
	color: #0066C0;
}

#IsueeShow_nav a:hover {
	color: #D6843A;
}

.blank_line {
	visibility: hidden;
}

/*具体商品列表*/

#IsueePicture ul {
	list-style: none;
}

#IsueePicture li {
	float: left;
	width: 18%;
	height: 450px;
	border: 1px solid grey;
	margin-left: 8px;
	margin-top: 8px;
	/*position: relative;*/
	/*top: 0px;*/
	/*left: -25%;*/
}

#IsueePicture li img {
	width: 100%;
}

/*#IsueePicture_Firstli {*/
	/*clear: left;*/
	/*position: relative;*/
	/*top: 0px;*/
	/*left: -2%;		*/
/*}*/

#IsueePicture a {
	text-decoration: none;
}

.IsueePicture_BoxOne {
	margin-left: 5%;
	margin-right: 5%;
}

.IsueePicture_WordOne {
	color: #007ED2;
}

.IsueePicture_WordOne:hover {
	color: #CF7F31;
}

.IsueePicture_WordTwo {
	color: #B12704;
	line-height: 0px;
}

/*.IsueePicture_BoxTwo {*/
	/*margin-left: 5%;*/
	/*margin-right: 5%;*/
	/*color: #555555;*/
	/*font-size: 12px;*/
	/*line-height: 0px;*/
/*}*/

/*商品推荐*/

#recomen {
	display: block;
	border: 1px solid #76768C;
	float: left;
	/*clear: left;*/
	margin-left: 2%;
	margin-top: 2%;
}

#recomen_first {
	display: block;
	width: 100%;
	float: left;
	font-size: 24px;
}

.recomen_word {
	display: block;
	float: left;
	clear: left;
}


#font_issue ul {
	list-style: none;
}

#font_issue li {
	float: left;
	width: 15%;
	height: 430px;
	/*border: 1px solid darkgray;*/
	margin-left: 4%;
	margin-top: 20px;
	/*margin-bottom: 8px;*/
	position: relative;
	top: 20px;
	left: -2%;
}

#font_issue a {
	text-decoration: none;
}
li {
	list-style-type: none;
}


#similar_goods ul {
	list-style: none;
}

#similar_goods li {
	float: left;
	width: 15%;
	height: 430px;
	/*border: 1px solid darkgray;*/
	margin-left: 4%;
	margin-top: 20px;
	/*margin-bottom: 8px;*/
	position: relative;
	top: 20px;
	left: -2%;
}

#similar_goods a {
	text-decoration: none;
}
